---
---

/* Override Minima defaults */
$brand-color: #ff4d4d;    // main accent (links, header)
$text-color: #e5e7eb;     // body text
$background-color: #0f172a; // page background
$link-base-color: #38bdf8;  // link colour

@import "minima";
